.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 48%;
  display: flex;
  width: 829px;
  height: 674px;
  transform: translateX(-50%);
  z-index: -1;
}

.result__img {
  position: absolute;
  left: 0;

  &--leaf-blue-left {
    width: 362px;
    height: auto;
    bottom: 164px;
    opacity: 0;

    .screen--show & {
      transform-origin: right center;
      animation: leaf-left-show 1.7s ease-in-out 0.5s forwards;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 284px;
      left: 84px;
      bottom: 131px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 510px;
      left: -161px;
      bottom: 97px;
    }

    @media (max-width: $mobile) {
      width: 325px;
      left: 48px;
      bottom: 158px;
    }
  }
  &--leaf-blue-right {
    width: 356px;
    height: auto;
    left: auto;
    right: 32px;
    bottom: 269px;
    opacity: 0;

    .screen--show & {
      transform-origin: left center;
      animation: leaf-right-show 1.8s ease-in-out 0.6s forwards;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 284px;
      right: 110px;
      bottom: 210px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 510px;
      right: -152px;
      bottom: 244px;
    }

    @media (max-width: $mobile) {
      width: 322px;
      right: 57px;
      bottom: 254px;
    }
  }
  &--leaf-green {
    width: 434px;
    height: auto;
    left: auto;
    right: 0;
    bottom: 226px;
    opacity: 0;

    .screen--show & {
      transform-origin: left center;
      animation: green-leaf-show 2s ease-in-out 0.5s forwards;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 360px;
      right: 79px;
      bottom: 176px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 578px;
      right: -170px;
      bottom: 188px;
    }

    @media (max-width: $mobile) {
      width: 382px;
      right: 38px;
      bottom: 214px;
    }
  }
  &--flamingo {
    width: 328px;
    height: auto;
    left: 137px;
    bottom: 170px;
    z-index: 1;

    .screen--show & {
      animation: flamingo-show 0.4s ease-in 0.5s both,
        flamingo-rotate 0.7s linear 0.9s infinite alternate;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 269px;
      left: 191px;
      bottom: 129px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 477px;
      left: 37px;
      bottom: 99px;
    }

    @media (max-width: $mobile) {
      width: 309px;
      left: 169px;
      bottom: 159px;
    }
  }
  &--suitcase {
    width: 440px;
    height: auto;
    left: 48%;
    bottom: 161px;
    bottom: 24%;
    transform: translate3d(-50%, 58%, 0) scale(0.1);

    .screen--show & {
      animation: suitcase-show 0.3s ease-in 0.5s both;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 360px;
      bottom: 121px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 636px;
      left: 49%;
      bottom: 88px;
    }

    @media (max-width: $mobile) {
      width: 409px;
      bottom: 147px;
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

@keyframes suitcase-show {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 58%, 0) scale(0.05);
  }
  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(-50%, 0%, 0) scale(1);
  }
}
@keyframes flamingo-show {
  0% {
    opacity: 0;
    transform: translate3d(0%, 73%, 0) rotate(-23deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0%, 0%, 0) rotate(-2deg);
  }
}
@keyframes flamingo-rotate {
  0% {
    transform: translate3d(0%, 2%, 0) rotate(-2deg);
  }

  100% {
    transform: translate3d(0%, -3%, 0) rotate(4deg);
  }
}

@keyframes leaf-left-show {
  0% {
    transform: rotate(-23deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes leaf-right-show {
  0% {
    transform: rotate(-23deg);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes green-leaf-show {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
