.social-block {
  position: relative;

  &:hover {
    .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }

    li {
      &:nth-child(2n) {
        .social-block__link {
          transition-delay: 0.15s;
        }
      }
      &:nth-child(3n) {
        .social-block__link {
          transition-delay: 0.25s;
        }
      }
    }

    .social-block__link {
      bottom: 0;
      opacity: 1;
      transition: opacity 0.35s ease-in, bottom 0.35s ease-in;
    }
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $c-light;
    border: 2px solid $c-light;
    z-index: -1;
  }

  .page-loaded & {
    &::before {
      animation: onLoadScaleButton 0.35s cubic-bezier(.07,.8,.5,.78);
    }
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }

  &:hover,
  .social-block--active & {
    color: $c-purple;

    &::before {
      transition: width 0.35s ease-in, height 0.35s ease-in;
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;

      li {
        &:nth-child(2n) {
          .social-block__link {
            transition-delay: 0.1s;
          }
        }

        &:nth-child(3n) {
          .social-block__link {
            transition-delay: 0.2s;
          }
        }
      }

      .social-block__link {
        top: 0;
        opacity: 1;
        transition: opacity 0.2s ease-in, top 0.2s ease-in;
      }
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }

    & + .social-block__list {
      li {
        &:nth-child(2n) {
          .social-block__link {
            transition-delay: 0.1s;
          }
        }
        &:nth-child(3n) {
          .social-block__link {
            transition-delay: 0.2s;
          }
        }
      }

      .social-block__link {
        top: 0;
        opacity: 1;
        transition: opacity 0.2s ease-in, top 0.2s ease-in;
      }
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    flex: none;
    margin-bottom: 0.5rem;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  bottom: -4px;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
    transition: background-color 0.35s ease-in;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

@keyframes onLoadScaleButton {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
  }

  80% {
    transform: translate(-50%, -50%) scale(1.3);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
